@component('./layout/main.edge', { title: 'ตั้งค่า' })
  @slot('navbar')
    <div class="mt-1">
    </div>
  @end
  
  @slot('main')
    <div class="container mt-4">
      <h5 class="fw-bold">
        <i class="bi bi-briefcase-fill me-2"></i>ตั้งค่า
      </h5>
    </div>
  @end
  
@endcomponent
